// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
// header links active state //

.nhsuk-header__navigation-link-active {
    border-bottom: 4px solid #f0f4f5;
    box-shadow: none;
    color: #212b32;
    outline: 4px solid rgba(0,0,0,0);
    outline-offset: 4px;
    text-decoration: none
}