<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="javascript:history.back()">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>
            <!-- Change the page title here -->
            <span class="nhsuk-caption-l">Hornsey Central Pharmacy</span>
            <h1 class="nhsuk-heading-l">Availability for 26 August 2024</h1>

        


        
        <h3 class="nhsuk-heading-m">Single session - Covid 18-75+</h3>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
          
            <p>There are 420 booked appointments in this session. Changes you make here will affect booked appointments.</p>
          </div>


        <form action="removeAvailability" method="get" class="form">
          
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <legend class="nhsuk-fieldset__legend nhsuk-label--l">How do you want to edit this session?
              </legend>
              <div class="nhsuk-form-group">
                  <div class="nhsuk-radios">
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="session-radio" name="radioGroup" type="radio" value="shorten">
                      <label class="nhsuk-label nhsuk-radios__label" for="session-radio-repeat">
                        Shorten session
                      </label>
                      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                        Remove time from this session
                      </div>
                    </div>

              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="session-radio" name="radioGroup" type="radio" value="reduce">
                      <label class="nhsuk-label nhsuk-radios__label" for="session-radio-single">
                        Remove capacity
                      </label>
                      <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                        Remove vaccinators or vaccination spaces from this session
                      </div>
                   </div>

                  </div>
                  </div>
            </fieldset>
          
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Continue
          </button>
        </form>
  

          

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
