<!-- File: app/views/test-page.html -->
{% extends 'layout-email.html' %}

<!-- Set the page title -->
{% block pageTitle %}
NHSIK Email
{% endblock %}



<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %} 


{% endblock %}

{% block outerContent %}

{% include 'current/org-switch/includes/org-switcher.html' %}


{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Email inbox</h1>

      <div class="app-email-preview">
        <p>From: Nation Booking Service<br>
        Subject: Cancelled booking - Covid vaccine appointment<br>
        Date: {{ date({day: 'numeric', month: 'long', year: 'numeric'}) }}<br>
        </p>
        <hr>

        <p>Hello Mr {{firstName}}</p>

        <p>Your vaccination appointment has been cancelled. </p>

        <h2 class="nhsuk-heading-m">Your cancelled appointment</h2>

        <p>Booking reference: {{booking}}
            <br>
    {{site}}
    <br>
    Address: {{address}}
    <br>
    Date: {{date({day: 'numeric', month: 'long', year: 'numeric'})}}
    <br>
    Time: {{time}}
</p>

          <h2 class="nhsuk-heading-m">To rebook your appointment</h2>

          <p>Visit <a href="">National Booking Service</a></p>

        <p>Kind Regards,</p>

        <p>{{site}}</p>

      </div>


    

    </div>
  </div>


{% endblock %}
