<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'current/layouts/layout-top-nav-sites.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}


{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


              


<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
      <h2 class="nhsuk-heading-m">Deleted availability</h2>

  <p>Some bookings may have been impacted by this change. If so, you'll need to cancel the appointments manually </p>
  <p><a href="bookings-scheduled">Cancel appointments</a></p>
</div>

      


            <!-- Change the page title here -->
             <span class="nhsuk-caption-l">{{site}}</span>
            <h1 class="nhsuk-heading-xl">Create availability</h1>
<p>You can create availability with multiple days and repeating sessions, to accurately reflect your site's capacity.</p>




            <table class="nhsuk-table">
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Dates
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Days
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Services
                  </th>
                  <th role="columnheader" class="" scope="col" style="text-align: right;">
                    Session type
                  </th>
                   <th role="columnheader" class="" scope="col" style="text-align: right;">
                    Actions
                  </th>
                  </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell" colspan="5">You have no availability yet</td>
                
                </tr>
              </tbody>
            </table> 
        




    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script>
  // Wait for the DOM to be fully loaded
document.addEventListener('DOMContentLoaded', function() {
    // Find the close link
    const closeLink = document.querySelector('.govuk-notification-banner__link');
    
    // Find the entire notification banner
    const notificationBanner = document.querySelector('.govuk-notification-banner');
    
    // Add click event listener to the close link
    if (closeLink && notificationBanner) {
      closeLink.addEventListener('click', function(event) {
        // Prevent the default link behavior
        event.preventDefault();
        
        // Hide the notification banner
        notificationBanner.style.display = 'none';
        
        // Alternative: remove the element completely from the DOM
        // notificationBanner.remove();
      });
    }
  });
</script>
{% endblock %}
