<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-top-nav.html' %}

<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Site overview Hornsey Central Pharmacy
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


    
      <h1 class="govuk-heading-l">View availability
    </h1>



{% from 'details/macro.njk' import details %}

{{ details({
  text: "Matching criteria",
  HTML: "
  <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
    <p>Criteria:</p>
    <ul>
        <li>RSV</li>
        <li>9.00am - 11.00am</li>
        <li>{{date}}</li>
      
    </ul>
    <p>Ask your GP surgery for help if you can't find your NHS number.</p>
  "
}) }}


<h3 class="govuk-heading-m">Availability for 12 weeks from 9 December 2024</h3>

<h3 class="govuk-heading-m">Filter</h3>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-one-quarter">

[datepicker]
</div>
<div class="govuk-grid-column-one-quarter">



    {% from 'select/macro.njk' import select %}

    {{ select({
      id: "select-1",
      name: "select-1",
      label: {
        text: "Choose calendar view"
      },
      items: [
        {
          value: 1,
          text: "1 month"
        },
        {
          value: 2,
          text: "2 months",
          selected: true
        },
        {
          value: 3,
          text: "3 months",
          disabled: true
        }
      ]
    }) }}
  

</div>
</div>

{% from 'checkboxes/macro.njk' import checkboxes %}

<form>
  {{ checkboxes({
    idPrefix: "example",
    name: "example",
    fieldset: {
      legend: {
        text: "Select criteria",
        classes: "nhsuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    hint: {
      text: "Select all options that are relevant to you."
    },
    items: [
      {
        value: "email",
        text: "Email"
      },
      {
        value: "phone",
        text: "Phone"
      },
      {
        value: "text message",
        text: "Text message"
      }
    ]
  }) }}
</form>

{% from 'button/macro.njk' import button %}

{{ button({
  text: "Save and continue"
}) }}



  <p class="govuk-notification-banner__heading">
  Important
    
  </p>

<h3 class="govuk-heading-m">Available on</h3>

<ul>

  <li>
    Monday 9 December 2024 to Wednesday 11 December 2024 - 3 days</li>
    <li>Sunday 29 December 2024 - 1 day</li>
  <li>Thursday 31 December 2024 to Saturday 3 February 2025 - 4 weeks and 6 days</li>
</ul>

<h3 class="govuk-heading-m">Overbooked on</h3>
<ul><li>Thursday 12 December 2024 to Saturday 28 December 2024 - 2 weeks and 2 days</li>
<li>Monday 30 December 2024 - 1 day</li></ul>
  




[page header actions]
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-scrollable-pane">

      <p class="govuk-body govuk-body--l">Key</p>
  
      <div class="calendar">
  
      <ul class="days">
      <!-- add filler at beginning of month -->
          <li class="out_of_range calendar-day">
            
              <div class="date day_cell">Available</div>
          </li>
          <li class="out_of_range calendar-day occupied">
          
            <div class="date day_cell">Occupied</div>
          </li>            
          <li class="calendar-day selected">
              <div class="date day_cell">Selected</div>
              
          </li>
          </ul>
          </div>
        

<div class="calendar">
  
  
  <ul class="days">
  <!-- add filler at beginning of month -->
      <li class="out_of_range calendar-day selected">
          <div class="date day_cell">Mon 09 Dec</div>
          <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day available">
        <div class="date day_cell">Tues 10 Dec</div>
        <div class="show-info">0 spaces</div>
      </li>            
      <li class="calendar-day occupied">
        <div class="date day_cell">Wed 11 Dec</div>
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Thur 12 Dec</div>
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Fri 13 Dec</div>
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Sat 14 Dec</div>
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Sun 15 Dec</div>
        
          <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 16 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Tue 17 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Wed 18 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Thu 19 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Fri 20 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Sat 21 Dec</div>
        
          <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Sun 22 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 23 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Tue 24 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Wed 25 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Thur 26 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Fri 27 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Sat 28 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Sun 29 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 30 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Tue 31 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>

</ul>
</div>

<div class="calendar">
  
  
  <ul class="days">
  <!-- add filler at beginning of month -->

      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
          <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
          <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      <li class="calendar-day occupied">
        <div class="date day_cell">Mon 09 Dec</div>
        
        <div class="show-info">0 spaces</div>
      </li>
      
              
  <!-- add filler at end of month -->
      <li class="out_of_range calendar-day">
          <div class="date day_cell"></div>
      </li>
      <li class="out_of_range calendar-day">
          <div class="date day_cell"></div>
      </li>
  </ul>
  

</div>


  </div>
</div>
</div>
  
 

    

{% endblock %}

{% block pageScripts %}
<!-- Add any javascript files here. Include javascript files only on the pages
that need them. Excessive javascript files loaded on other pages may slow down
the response times of the prototype. -->




{% endblock %}
