<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="javascript:history.back()">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>
            <!-- Change the page title here -->
            <h1 class="nhsuk-heading-l">Check availability period</h1>

            <p>We've saved the sessions you've added so far.  You can add more sessions to this availability period.</p>

            <div class="nhsuk-card">
                <div class="nhsuk-card__content">
            <form action="week-day-created" class="form">
    
              <dl class="nhsuk-summary-list">
    
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Start date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    1 November 2024
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> session dates</span>
                    </a>
              
                  </dd>
              
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    End date
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    31 January 2025
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="#">
                      Change<span class="nhsuk-u-visually-hidden"> session dates</span>
                    </a>
              
                  </dd>
              
                </div>
              
       
      
              </dl>
    
            </div>
            </div>
  

        <h3 class="nhsuk-heading-m">Repeat sessions</h3>

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
        <form action="week-day-created" class="form">

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Days
              </dt>
              <dd class="nhsuk-summary-list__value">
                Monday, Tuesday, Wednesday, Thursday, Friday
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> session date</span>
                </a>
          
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Time
              </dt>
              <dd class="nhsuk-summary-list__value">
                09:00 - 17:00
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> session time</span>
                </a>
          
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Breaks
              </dt>
              <dd class="nhsuk-summary-list__value">
                12:00 - 13:00
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> session breaks</span>
                </a>
          
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Services available
              </dt>
              <dd class="nhsuk-summary-list__value">
                Covid 65+, RSV Adult
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> services availability</span>
                </a>
          
              </dd>
          
            </div>
  
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccinators or spaces available
              </dt>
              <dd class="nhsuk-summary-list__value">
                5
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> maximum simultaneous appointments</span>
                </a>
          
              </dd>
          
            </div>
  
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Appointment length in minutes
              </dt>
              <dd class="nhsuk-summary-list__value">
                10
              </dd>
          
              <dd class="nhsuk-summary-list__actions">
          
                <a href="#">
                  Change<span class="nhsuk-u-visually-hidden"> appointment length</span>
                </a>
          
              </dd>
          
            </div>
   
  
          </dl>
          <p>[number] appointments available. <br>[number] appointments per hour</p>

        </div>
        </div>

        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
      <form action="week-day-created" class="form">

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Days
            </dt>
            <dd class="nhsuk-summary-list__value">
              Tuesday, Thursday
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> session date</span>
              </a>
        
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Time
            </dt>
            <dd class="nhsuk-summary-list__value">
              09:00 - 13:00
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> session time</span>
              </a>
        
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Breaks
            </dt>
            <dd class="nhsuk-summary-list__value">
              No break
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> session breaks</span>
              </a>
        
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Services available
            </dt>
            <dd class="nhsuk-summary-list__value">
              RSV Adult
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> services availability</span>
              </a>
        
            </dd>
        
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Vaccinators or spaces available
            </dt>
            <dd class="nhsuk-summary-list__value">
              1
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> maximum simultaneous appointments</span>
              </a>
        
            </dd>
        
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Appointment length in minutes
            </dt>
            <dd class="nhsuk-summary-list__value">
              10
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> appointment length</span>
              </a>
        
            </dd>
        
          </div>
 

        </dl>
        <p>[number] appointments available. <br>[number] appointments per hour</p>

      </div>
      </div>
      <p><a href="select-days2" class="nhsuk-link">Add another repeat session<span class="nhsuk-u-visually-hidden"> to Monday</span></a></p>
      <!--<p>You can remove availability by <a href="session-date2" class="nhsuk-link">telling us the days your site is closed</a></p>-->

          <h3 class="nhsuk-heading-m">Single sessions</h3>
          <!--<div class="nhsuk-card">
            <div class="nhsuk-card__content">

              <p>No single sessions have been added to this availability period</p>
        </div>
        </div>-->


      <p>No single sessions have been added to this availability period. <a href="session-date2" class="nhsuk-link">Add a single session</a></p>
      <a class="nhsuk-button" href="availability-overview-published">
        Save and publish
      </a>
      <!-- <a class="nhsuk-button nhsuk-button--secondary" href="availability-overview-unpublished">
      Save without publishing
    </a> -->
  

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
