// CSS

$color-nhsuk-blue: #005eb8;
$color-nhsuk-white: #ffffff;
$color-nhsuk-black: #212b32;
$color-nhsuk-green: #007f3b;
$color-nhsuk-red: #d5281b;
$color-nhsuk-yellow: #ffeb3b;
$color-nhsuk-warm-yellow: #ffb81C;
$color-nhsuk-orange: #ED8B00;
$color-nhsuk-purple: #330072;
$color-nhsuk-grey-1: #4c6272;
$color-nhsuk-grey-2: #768692;
$color-nhsuk-grey-3: #aeb7bd;
$color-nhsuk-grey-4: #d8dde0;
$color-nhsuk-grey-5: #f0f4f5;

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
  
  @mixin breakpoint($point) {
    @if $point == medium {
      @media (min-width: 1000px) { @content; }
    }
    @else if $point == small {
      @media (min-width: 628px)  { @content; }
    }
  }
  
  div.calendar{
      width:100%;
      padding:20px 0;
      overflow:hidden;
      clear:both;
    
  
    

  
      .weekdays,
      .footer-weekdays{
          display: none;
      }
   
       ul {
           margin: 0;
           padding:0;
           list-style-image: none;
           display: flex;
       }
  
    li{
      height: auto;
      width: 100%;
      padding: 10px;
      max-height: 80px;
      border:1px solid $nhsuk-border-color;
      margin: 2px;
      min-height: 94px;
      .day,
      .month{
        display: inline;
      }
  
      .day {
        display: inline;
        @include breakpoint(small) {
          display: none;
        }
      }
  
      &.out_of_range {
       display: none;
      }
    }
      
      @include breakpoint(small) {
  
      .weekdays,
      .footer-weekdays{
          display: block;
          li {
              background-color:#21b0dc;
              height: 40px;
              text-align: center;
              color:#fff;
          }
      }
  
      .footer-weekdays li{height:20px;}
  
          ul{
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              li{
                  display: block;
                  float: left;
                  height: auto;
                  min-height: 150px;
                  width: 14%;
                  padding: 10px;
  
                  &.out_of_range {
                        display: block;
                  }
              }
  
          }
      }
  
  }
  .available{
    background-color:#cce5d8;

  }
  .occupied{
background-color: $color-nhsuk-grey-2;
color: $color-nhsuk-white;
  }
  .selected{
    background-color:$color_nhsuk-pale-yellow;
  }

  .show-info{
    font-weight: 700;
  }
