.nhs-page-header-actions {
    display: flex;
    min-height: govuk-spacing(7); // Match button height
    margin-bottom: govuk-spacing(7);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: govuk-spacing(2);
  }
  
  .nhs-page-header-actions__title {
    [class^="govuk-heading-"] {
      margin-bottom: 0;
    }
  }
  
  .nhs-page-header-actions__actions {
    .nhs-button-group {
      margin-bottom: 0;
    }
  
    .govuk-button {
      margin-bottom: 0;
    }
  }

  // NHS Version

  .nhsuk-page-header-actions {
    display: flex;
    min-height: nhsuk-spacing(7); // Match button height
    margin-bottom: nhsuk-spacing(7);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: nhsuk-spacing(2);
  }
  
  .nhsuk-page-header-actions__title {
    [class^="nhsuk-heading-"] {
      margin-bottom: 0;
    }
  }
  
  .nhsuk-page-header-actions__actions {
    .nhsuk-button-group {
      margin-bottom: 0;
    }
  
    .nhsuk-button {
      margin-bottom: 0;
    }
  }

