<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ breadcrumb({
href: "/",
text: "Home"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    <h1>

      Accessibility statement for Manage Your Appointments

    </h1>



  </div>
</div>

<article>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">






      <section>










        <p data-block-key="po0nx">This accessibility statement applies to the Manage your appointments staff application
          in the National Booking Service (NBS).</p>
        </p>
        <p>This service is run by NHS England. We want as many people as possible to use this website. This means you
          should be able to:</p>

        <ul>
          <li data-block-key="don97">change colours, contrast levels and fonts using browser functionality</li>
          <li data-block-key="etvsi">zoom in up to 400% without the text spilling off the screen</li>
          <li data-block-key="2bibc">navigate most of the website using just a keyboard</li>
          <li data-block-key="9qsfs">navigate most of the website using speech recognition software</li>
          <li data-block-key="9c8na">interact with most of the website using a screen reader (including recent versions
            of JAWS, NVDA and VoiceOver)</li>
        </ul>




      </section>






      <section>



        <h2>How accessible this website is</h2>


        <p data-block-key="po0nx">We know thats parts of this service are not fully accessible.</p>

        <ul>
          <li>some parts of the service have an illogical focus order with some screen readers.</li>
          <li>when some pages load, screen readers may not move to the new content automatically</li>
          <li>With VoiceOver the page will focus on the main heading but not read it out</li>
          <li>NVDA and JAWS may not focus on the new content and start further
            down the page. If this happens, we recommend you navigate to the main heading on the page, as the new
            content
            always starts with the Heading level 1.</li>

        </ul>

        <p data-block-key="48cd8">We are actively working to address these issues as well as improving the overall
          accessibility of this service.</p>




      </section>






      <section>



        <h2>Feedback and contact information</h2>



        <p data-block-key="po0nx">
          Contact us if you have an
          accessibility query including:</p>
        <ul>
          <li data-block-key="4ekcd">issues with accessing information or using this service</li>
          <li data-block-key="5desn">an accessibility problem not listed on this statement</li>
          <li data-block-key="3pstm">feedback about this website’s accessibility</li>
        </ul>


        <p>Contact enquiries@nhsdigital.nhs.uk or call 0300 303 5678 with any accessibility issues you've experienced or
          may experience.</p>

      </section>






      <section>



        <h2>Enforcement procedure</h2>

        <p></p>


        <p data-block-key="po0nx">If you contact us with a complaint and you are not happy with our response <a
            href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service
            (EASS)</a>.</p>
        <p data-block-key="4il6u">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
          Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the
          "accessibility regulations").</p>




      </section>






      <section>



        <h2>Technical information about this website's accessibility</h2>









        <p data-block-key="po0nx">We're committed to making this website accessible, in accordance with the Public
          Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
        <h3 data-block-key="bo530"><b>Compliance status</b></h3>
        <p data-block-key="3cko7">This website is partially compliant with the <a
            href="http://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines</a> version 2.1 AA standard, due to
          the non-compliance listed below.</p>




      </section>






      <section>



        <h2>Non-accessible content</h2>

        <p data-block-key="po0nx">The content that is not accessible is listed below together with an explanation.</p>
        <h3 data-block-key="36aq5">Non-compliance with the accessibility regulations</h3>
        <p data-block-key="1sm29">Some screen readers have an illogical focus order on some pages (Focus order 2.4.3).
        </p>




      </section>






      <section>



        <h2>What we're doing to improve accessibility</h2>









        <p data-block-key="po0nx">Implementing a fix for illogical focus order in time for the autumn/winter vaccination
          campaigns in 2025.</p>




      </section>






      <section>



        <h2>Preparation of this accessibility statement</h2>









        <p data-block-key="po0nx">This statement was prepared on 7 March 2025.</p>
        <p data-block-key="71bjs">This website was last tested on xx March 2025 by NHS Digital, who performed an
          expert evaluation all pages within the website against all level A and AA success criteria of the Web Content
          Accessibility Guidelines 2.2.</p>
        <p data-block-key="cg4k2">This website's accessibility will be reviewed on a regular basis. We will update this
          accessibility statement with any relevant changes.</p>




      </section>





    </div>



  </div>
</article>

<div>
  <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 7 March 2025
    <br>
    Next review due: 7 March 2026
  </p>
</div>
{% endblock %}