<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'current/layouts/layout-top-nav-sites.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

       <span class="nhsuk-caption-l">{{site}}</span>
      <h1 class="nhsuk-heading-xl">Viewing availability for {{ date({month: 'long', year: 'numeric'}) }} </h1>

        <!-- CARD / CAL SWITCHER -->
     <div class="nhsuk-service-navigation"
  data-module="nhsuk-service-navigation">
  <div class="nhsuk-width-container">
    <div class="nhsuk-service-navigation__container">
      <nav style="display: flex;align-items:baseline;" aria-label="Menu" class="nhsuk-service-navigation__wrapper">
        <button type="button" class="nhsuk-service-navigation__toggle nhsuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="nhsuk-service-navigation__list" id="navigation">
          <li class="nhsuk-service-navigation__item">
            <a class="nhsuk-service-navigation__link" href="month">
              <!-- Card Icon SVG (Max size: 32px x 32px) -->
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="nav-icon">
                <rect x="3" y="3" width="7" height="7" rx="1"></rect>
                <rect x="14" y="3" width="7" height="7" rx="1"></rect>
                <rect x="3" y="14" width="7" height="7" rx="1"></rect>
                <rect x="14" y="14" width="7" height="7" rx="1"></rect>
              </svg>
              <span> <strong class="nhsuk-service-navigation__active-fallback">Card view</strong></span>
            </a>
          </li>
          <li class="nhsuk-service-navigation__item nhsuk-service-navigation__item--active">
            <a class="nhsuk-service-navigation__link" href="#" aria-current="true">
              <!-- Calendar Icon SVG (Max size: 32px x 32px) -->
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="nav-icon">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
              </svg>
              <span> <strong class="nhsuk-service-navigation__active-fallback">Calendar view</strong></span>
            </a>
          </li>
          
        </ul>
      </nav>
    </div>
  </div>
</div>

</div>
</div>
      <!-- END CARD / CAL SWITCHER -->

      <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
    <div class="nhsuk-grid-column-full">

     <div class="nhsuk-calendar-month">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter nhsuk-calendar-header"><h2 class="nhsuk-calendar-header__content nhsuk-heading-xs">Monday</h2></div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-calendar-header"><h2 class="nhsuk-calendar-header__content nhsuk-heading-xs">Tuesday</h2></div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-calendar-header"><h2 class="nhsuk-calendar-header__content nhsuk-heading-xs">Wednesday</h2></div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-calendar-header"><h2 class="nhsuk-calendar-header__content nhsuk-heading-xs">Thursday</h2></div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-calendar-header"><h2 class="nhsuk-calendar-header__content nhsuk-heading-xs">Friday</h2></div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-calendar-header"><h2 class="nhsuk-calendar-header__content nhsuk-heading-xs">Saturday</h2></div>
        <div class="nhsuk-grid-column-one-quarter nhsuk-calendar-header"><h2 class="nhsuk-calendar-header__content nhsuk-heading-xs">Sunday</h2></div>
      </div>

      <ul class="nhsuk-grid-row nhsuk-calendar-group">
        
        <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
      <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
        <div class="nhsuk-calendar-day__content">
          <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
            <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Monday </span>26</a>      
          </h3>
         <p>275 booked<br>25 unbooked</p>
        </div>
      </div>
      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
        <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
          <div class="nhsuk-calendar-day__content">
            <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
              <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Tuesday </span>27</a>      
            </h3>
           <p>275 booked<br>25 unbooked</p>
          </div>
        </div>
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
          <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
            <div class="nhsuk-calendar-day__content">
              <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Wednesday </span>28</a>      
              </h3>
             <p>275 booked<br>25 unbooked</p>
            </div>
          </div>
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
            <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
              <div class="nhsuk-calendar-day__content">
                <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                  <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Thursday </span>29</a>      
                </h3>
               <p>275 booked<br>25 unbooked</p>
              </div>
            </div>
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
              <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
                <div class="nhsuk-calendar-day__content">
                  <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                    <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Friday </span>30</a>      
                  </h3>
                 <p>275 booked<br>25 unbooked</p>
                </div>
              </div>
              </li>
              <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
                  <div class="nhsuk-calendar-day__content">
                    <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                      <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Saturday </span>31</a>      
                    </h3>
                   <p>275 booked<br>25 unbooked</p>
                  </div>
                </div>
                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                  <div class="nhsuk-calendar-day">
                    <div class="nhsuk-calendar-day__content">
                      <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                        <a class="nhsuk-link" href="cal-day"><span class="nhsuk-u-visually-hidden-calendar">Sunday </span>1</a>      
                      </h3>
                     <p>275 booked<br>25 unbooked</p>
                    </div>
                  </div>
                  </li>
            
                        
      </ul>
      <ul class="nhsuk-grid-row nhsuk-calendar-group">
        
        <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
      <div class="nhsuk-calendar-day">
        <div class="nhsuk-calendar-day__content">
          <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
            <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Monday </span>2</a>      
          </h3>
         <p>275 booked<br>25 unbooked</p>
        </div>
      </div>
      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
        <div class="nhsuk-calendar-day">
          <div class="nhsuk-calendar-day__content">
            <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
              <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Tuesday </span>3</a>      
            </h3>
           <p>275 booked<br>25 unbooked</p>
          </div>
        </div>
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
          <div class="nhsuk-calendar-day">
            <div class="nhsuk-calendar-day__content">
              <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Wednesday </span>4</a>      
              </h3>
             <p>275 booked<br>25 unbooked</p>
            </div>
          </div>
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
            <div class="nhsuk-calendar-day">
              <div class="nhsuk-calendar-day__content">
                <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                  <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Thursday </span>5</a>      
                </h3>
               <p>275 booked<br>25 unbooked</p>
              </div>
            </div>
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
              <div class="nhsuk-calendar-day">
                <div class="nhsuk-calendar-day__content">
                  <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                    <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Friday </span>6</a>      
                  </h3>
                 <p>275 booked<br>25 unbooked</p>
                </div>
              </div>
              </li>
              <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                <div class="nhsuk-calendar-day">
                  <div class="nhsuk-calendar-day__content">
                    <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                      <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Saturday </span>7</a>      
                    </h3>
                   <p>275 booked<br>25 unbooked</p>
                  </div>
                </div>
                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                  <div class="nhsuk-calendar-day">
                    <div class="nhsuk-calendar-day__content">
                      <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                        <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Sunday </span>8</a>      
                      </h3>
                     <p>275 booked<br>25 unbooked</p>
                    </div>
                  </div>
                  </li>
            
                        
      </ul>
      <ul class="nhsuk-grid-row nhsuk-calendar-group">
        
        <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
      <div class="nhsuk-calendar-day">
        <div class="nhsuk-calendar-day__content">
          <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
            <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Monday </span>9</a>      
          </h3>
         <p>275 booked<br>25 unbooked</p>
        </div>
      </div>
      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
        <div class="nhsuk-calendar-day">
          <div class="nhsuk-calendar-day__content">
            <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
              <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Tuesday </span>10</a>      
            </h3>
           <p>275 booked<br>25 unbooked</p>
          </div>
        </div>
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
          <div class="nhsuk-calendar-day">
            <div class="nhsuk-calendar-day__content">
              <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Wednesday </span>11</a>      
              </h3>
             <p>275 booked<br>25 unbooked</p>
            </div>
          </div>
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
            <div class="nhsuk-calendar-day">
              <div class="nhsuk-calendar-day__content">
                <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                  <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Thursday </span>12</a>      
                </h3>
               <p>275 booked<br>25 unbooked</p>
              </div>
            </div>
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
              <div class="nhsuk-calendar-day">
                <div class="nhsuk-calendar-day__content">
                  <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                    <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Friday </span>13</a>      
                  </h3>
                 <p>275 booked<br>25 unbooked</p>
                </div>
              </div>
              </li>
              <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                <div class="nhsuk-calendar-day">
                  <div class="nhsuk-calendar-day__content">
                    <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                      <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Saturday </span>14</a>      
                    </h3>
                   <p>275 booked<br>25 unbooked</p>
                  </div>
                </div>
                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                  <div class="nhsuk-calendar-day">
                    <div class="nhsuk-calendar-day__content">
                      <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                        <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Sunday </span>15</a>      
                      </h3>
                     <p>275 booked<br>25 unbooked</p>
                    </div>
                  </div>
                  </li>
      </ul>
                  
      <ul class="nhsuk-grid-row nhsuk-calendar-group">
        
        <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
      <div class="nhsuk-calendar-day">
        <div class="nhsuk-calendar-day__content">
          <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
            <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Monday </span>16</a>      
          </h3>
         <p>275 booked<br>25 unbooked</p>
        </div>
      </div>
      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
        <div class="nhsuk-calendar-day">
          <div class="nhsuk-calendar-day__content">
            <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
              <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Tuesday </span>17</a>      
            </h3>
           <p>275 booked<br>25 unbooked</p>
          </div>
        </div>
        </li>
        <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
          <div class="nhsuk-calendar-day">
            <div class="nhsuk-calendar-day__content">
              <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Wednesday </span>18</a>      
              </h3>
             <p>275 booked<br>25 unbooked</p>
            </div>
          </div>
          </li>
          <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
            <div class="nhsuk-calendar-day">
              <div class="nhsuk-calendar-day__content">
                <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                  <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Thursday </span>19</a>      
                </h3>
               <p>275 booked<br>25 unbooked</p>
              </div>
            </div>
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
              <div class="nhsuk-calendar-day">
                <div class="nhsuk-calendar-day__content">
                  <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                    <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Friday </span>20</a>      
                  </h3>
                 <p>275 booked<br>25 unbooked</p>
                </div>
              </div>
              </li>
              <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                <div class="nhsuk-calendar-day">
                  <div class="nhsuk-calendar-day__content">
                    <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                      <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Saturday </span>21</a>      
                    </h3>
                   <p>275 booked<br>25 unbooked</p>
                  </div>
                </div>
                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                  <div class="nhsuk-calendar-day">
                    <div class="nhsuk-calendar-day__content">
                      <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                        <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Sunday </span>22</a>      
                      </h3>
                     <p>275 booked<br>25 unbooked</p>
                    </div>
                  </div>
                  </li>
            </ul>

            <ul class="nhsuk-grid-row nhsuk-calendar-group">
        
              <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
            <div class="nhsuk-calendar-day">
              <div class="nhsuk-calendar-day__content">
                <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                  <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Monday </span>23</a>      
                </h3>
               <p>275 booked<br>25 unbooked</p>
              </div>
            </div>
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
              <div class="nhsuk-calendar-day">
                <div class="nhsuk-calendar-day__content">
                  <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                    <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Tuesday </span>24</a>      
                  </h3>
                 <p>275 booked<br>25 unbooked</p>
                </div>
              </div>
              </li>
              <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                <div class="nhsuk-calendar-day">
                  <div class="nhsuk-calendar-day__content">
                    <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                      <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Wednesday </span>25</a>      
                    </h3>
                   <p>275 booked<br>25 unbooked</p>
                  </div>
                </div>
                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                  <div class="nhsuk-calendar-day">
                    <div class="nhsuk-calendar-day__content">
                      <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                        <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Thursday </span>26</a>      
                      </h3>
                     <p>275 booked<br>25 unbooked</p>
                    </div>
                  </div>
                  </li>
                  <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                    <div class="nhsuk-calendar-day">
                      <div class="nhsuk-calendar-day__content">
                        <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                          <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Friday </span>27</a>      
                        </h3>
                       <p>275 booked<br>25 unbooked</p>
                      </div>
                    </div>
                    </li>
                    <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                      <div class="nhsuk-calendar-day">
                        <div class="nhsuk-calendar-day__content">
                          <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                            <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Saturday </span>28</a>      
                          </h3>
                         <p>275 booked<br>25 unbooked</p>
                        </div>
                      </div>
                      </li>
                      <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                        <div class="nhsuk-calendar-day">
                          <div class="nhsuk-calendar-day__content">
                            <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                              <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Sunday </span>29</a>      
                            </h3>
                           <p>275 booked<br>25 unbooked</p>
                          </div>
                        </div>
                        </li>
                  
                              
            </ul>
            <ul class="nhsuk-grid-row nhsuk-calendar-group">
        
              <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
            <div class="nhsuk-calendar-day">
              <div class="nhsuk-calendar-day__content">
                <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                  <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Monday </span>30</a>      
                </h3>
               <p>275 booked<br>25 unbooked</p>
              </div>
            </div>
            </li>
            <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
              <div class="nhsuk-calendar-day">
                <div class="nhsuk-calendar-day__content">
                  <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                    <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Tuesday </span>31</a>      
                  </h3>
                 <p>275 booked<br>25 unbooked</p>
                </div>
              </div>
              </li>
              <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
                  <div class="nhsuk-calendar-day__content">
                    <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                      <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Wednesday </span>1</a>      
                    </h3>
                   <p>275 booked<br>25 unbooked</p>
                  </div>
                </div>
                </li>
                <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                  <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
                    <div class="nhsuk-calendar-day__content">
                      <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                        <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Thursday </span>2</a>      
                      </h3>
                     <p>275 booked<br>25 unbooked</p>
                    </div>
                  </div>
                  </li>
                  <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                    <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
                      <div class="nhsuk-calendar-day__content">
                        <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                          <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Friday </span>3</a>      
                        </h3>
                       <p>275 booked<br>25 unbooked</p>
                      </div>
                    </div>
                    </li>
                    <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                      <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
                        <div class="nhsuk-calendar-day__content">
                          <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                            <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Saturday </span>5</a>      
                          </h3>
                         <p>275 booked<br>25 unbooked</p>
                        </div>
                      </div>
                      </li>
                      <li class="nhsuk-grid-column-one-quarter nhsuk-calendar-group__item">
                        <div class="nhsuk-calendar-day nhsuk-calendar-day__inactive">
                          <div class="nhsuk-calendar-day__content">
                            <h3 class="nhsuk-calendar__heading nhsuk-heading-xs">
                              <a class="nhsuk-link" href="#"><span class="nhsuk-u-visually-hidden-calendar">Sunday </span>6</a>      
                            </h3>
                           <p>275 booked<br>25 unbooked</p>
                          </div>
                        </div>
                        </li>
                  
                              
            </ul>
      </div>
                        



      <!-- Change the page title here -->

      <!-- End of content -->

    </div>
  </div>
{% endblock %}