<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'current/layouts/layout-top-nav-sites.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{{ backLink({
  href: "month",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  
    

  



 <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
       <span class="nhsuk-caption-l">{{site}}</span>
      <h1 class="nhsuk-heading-l">Days 1 {{ date({month: 'long'}) }} to 7 {{ date({month: 'long'}) }} </h1>
  
</div>
</div>


      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">23 {{ date({month: 'long'}, {'month': -1}) }} to 30 {{ date({month: 'long'}, {'month': -1}) }}</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">8 {{ date({month: 'long'}) }} to 15 {{ date({month: 'long'}) }}</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
           <div class="nhsuk-summary-card__title-wrapper">
        <h2 class="nhsuk-summary-card__title nhsuk-heading-m">
        Day: Monday 1 {{ date({month: 'long'}) }}
            
        </h2>
        <div class="nhsuk-summary-card__actions">
            <a class="nhsuk-link nhsuk-u-" href="bookings-scheduled">View day
          </a>

              <a class="nhsuk-link nhsuk-u-" href="cancel-day-sure">Cancel day
          </a>
          
         
        </div>
      
      </div>
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Monday 1 {{ date({month: 'long'}) }}</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">
                            <ul class="nhsuk-list" style="margin: 0; padding-left: 24px;">
        <li>RSV adult (incl pregnancy)</li>
        <li>Covid 5-11</li>
        <li>Covid 12-17</li>
        <li>Covid 18+</li>
        <li>Covid 75+</li>
        
        </ul>
                </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
             
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">   <ul class="nhsuk-list" style="margin: 0; padding-left: 24px;">
        <li>RSV adult (incl pregnancy)</li>
        
        <li>Flu 18-65</li>
        <li>Flu and Covid 18-65</li>
        <li>Flu and Covid 65+</li>
        <li>Flu and Covid 75+</li>
      </ul></td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">7 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
               
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">3 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
            </tbody>
          </table>
        <p><a class="nhsuk-link" href="add-availability">Add session <span class="nhsuk-u-visually-hidden"></span></a></p>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                 Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
          
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
               <div class="nhsuk-summary-card__title-wrapper">
        <h2 class="nhsuk-summary-card__title nhsuk-heading-m">
        Day: Tuesday 2 {{ date({month: 'long'}) }}
            
        </h2>
        <div class="nhsuk-summary-card__actions">
            <a class="nhsuk-link nhsuk-u-" href="bookings-scheduled">View day
          </a>

              <a class="nhsuk-link nhsuk-u-" href="cancel-day-sure">Cancel day
          </a>
          
         
        </div>
      
      </div>
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Tuesday 2 {{ date({month: 'long'}) }}</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">
          <ul class="nhsuk-list" style="margin: 0; padding-left: 24px;">
        <li>RSV adult (incl pregnancy)</li>
        <li>Covid 5-11</li>
        <li>Covid 12-17</li>
        <li>Covid 18+</li></ul></td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">7 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">3 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
            </tbody>
          </table>
        <p><a class="nhsuk-link" href="add-availability">Add session <span class="nhsuk-u-visually-hidden"></span></a></p>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                 Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
      
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
               <div class="nhsuk-summary-card__title-wrapper">
        <h2 class="nhsuk-summary-card__title nhsuk-heading-m">
        Day: Wednesday 3 {{ date({month: 'long'}) }}
            
        </h2>
        <div class="nhsuk-summary-card__actions">
            <a class="nhsuk-link nhsuk-u-" href="bookings-scheduled">View day
          </a>

              <a class="nhsuk-link nhsuk-u-" href="cancel-day-sure">Cancel day
          </a>
          
         
        </div>
      
      </div>
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Wednesday 3 {{ date({month: 'long'}) }}</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
              
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+<br>RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
                
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">7 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
            
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">3 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
            </tbody>
          </table>
        <p><a class="nhsuk-link" href="add-availability">Add session <span class="nhsuk-u-visually-hidden"></span></a></p>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                 Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
        
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
               <div class="nhsuk-summary-card__title-wrapper">
        <h2 class="nhsuk-summary-card__title nhsuk-heading-m">
        Day: Thursday 4 {{ date({month: 'long'}) }}
            
        </h2>
        <div class="nhsuk-summary-card__actions">
            <a class="nhsuk-link nhsuk-u-" href="bookings-scheduled">View day
          </a>

              <a class="nhsuk-link nhsuk-u-" href="cancel-day-sure">Cancel day
          </a>
          
         
        </div>
      
      </div>
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Thursday 4 {{ date({month: 'long'}) }}</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
              
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+<br>RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">7 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
                <
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">3 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
            </tbody>
          </table>
        <p><a class="nhsuk-link" href="add-availability">Add session <span class="nhsuk-u-visually-hidden"></span></a></p>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                 Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
      
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
               <div class="nhsuk-summary-card__title-wrapper">
        <h2 class="nhsuk-summary-card__title nhsuk-heading-m">
        Day: Friday 5 {{ date({month: 'long'}) }}
            
        </h2>
        <div class="nhsuk-summary-card__actions">
            <a class="nhsuk-link nhsuk-u-" href="bookings-scheduled">View day
          </a>

              <a class="nhsuk-link nhsuk-u-" href="cancel-day-sure">Cancel day
          </a>
          
         
        </div>
      
      </div>
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Friday 5 {{ date({month: 'long'}) }}</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
              
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+<br>RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">7 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">3 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
            </tbody>
          </table>
        <p><a class="nhsuk-link" href="add-availability">Add session <span class="nhsuk-u-visually-hidden"></span></a></p>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                 Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
        
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
               <div class="nhsuk-summary-card__title-wrapper">
        <h2 class="nhsuk-summary-card__title nhsuk-heading-m">
        Day: Saturday 6 {{ date({month: 'long'}) }}
            
        </h2>
        <div class="nhsuk-summary-card__actions">
            <a class="nhsuk-link nhsuk-u-" href="bookings-scheduled">View day
          </a>

              <a class="nhsuk-link nhsuk-u-" href="cancel-day-sure">Cancel day
          </a>
          
         
        </div>
      
      </div>
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Saturday 6 {{ date({month: 'long'}) }}</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
              
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+<br>RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">7 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
              
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">3 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change session</a></td>
              </tr>
            </tbody>
          </table>
        <p><a class="nhsuk-link" href="add-availability">Add session <span class="nhsuk-u-visually-hidden"></span></a></p>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
                 Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
        
        </div>
      </div>



      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
               <div class="nhsuk-summary-card__title-wrapper">
        <h2 class="nhsuk-summary-card__title nhsuk-heading-m">
        Day: Sunday 7 {{ date({month: 'long'}) }}
            
        </h2>
        <div class="nhsuk-summary-card__actions">
            <a class="nhsuk-link nhsuk-u-" href="bookings-scheduled">View day
          </a>

              <a class="nhsuk-link nhsuk-u-" href="cancel-day-sure">Cancel day
          </a>
          
         
        </div>
      
      </div>
        
          <p>No availability</p>    
          <p><a class="nhsuk-link" href="add-availability">Add session<span class="nhsuk-u-visually-hidden">To Sunday 7 {{ date({month: 'long'}) }} </span></a></p>
          
        </div>
      </div>

                                                    
      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">23 {{ date({month: 'long'}, {'month': -1}) }} to 30 {{ date({month: 'long'}, {'month': -1}) }}</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">8 {{ date({month: 'long'}) }} to 15 {{ date({month: 'long'}) }}</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of content -->

    </div>
  </div>



{% endblock %}
