<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends '../../current/view-availability/layout.html' %}

<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Site overview Hornsey Central Pharmacy
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% include '../../current/org-switch/includes/org-switcher.html' %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}





<div class="nhsuk-grid-row nhsuk-u-margin-top-5">



  <div class="nhsuk-grid-column-two-thirds" style="border-right:solid lightgray 1px">





    {% from 'checkboxes/macro.njk' import checkboxes %}

    <form>
      {{ checkboxes({
        idPrefix: "data-types",
        name: "data-types",
        fieldset: {
          legend: {
            text: "Choose data types",
            isPageHeading: true,
            classes: "nhsuk-fieldset__legend--l"
          }
        },
        
        items: [
          {
            value: "patients",
            text: "Patients",
            hint: {
              text: "including English, Scottish, Welsh and Northern Irish"
            }
          },
          {
            value: "staff",
            text: "Staff",
            hint: {
              text: "including English, Scottish, Welsh and Northern Irish"
            }
          },
          {
            value: "site or delivery team",
            text: "Site or delivery team",
            hint: {
              text: "including English, Scottish, Welsh and Northern Irish"
            }
          },
          {
            value: "assessment and consent",
            text: "Assessment and consent",
            hint: {
              text: "including English, Scottish, Welsh and Northern Irish"
            }
          },
          {
            value: "vaccination",
            text: "Vaccination",
            hint: {
              text: "including English, Scottish, Welsh and Northern Irish"
            }
          }

        ]
      }) }}
    </form>

  </div>



</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    {% from 'button/macro.njk' import button %}

    {{ button({
    text: "Generate results",
    href:'results'
    }) }}




  </div>
</div>




<!-- END SERVICES-->


















{% endblock %}

{% block pageScripts %}
<script>
  const dateControl = document.querySelector('input[type="date"]');
dateControl.value = "2025-06-01";
console.log(dateControl.value); // prints "2017-06-01"
console.log(dateControl.valueAsNumber); // prints 1496275200000, a JavaScript timestamp (ms)

</script>

{% endblock %}