<!-- File: app/views/test-page.html -->
{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Site overview Hornsey Central Pharmacy
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %} 


{% endblock %}

{% block outerContent %}

{% include 'current/org-switch/includes/org-switcher.html' %}


{% endblock %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="main-content">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>Change test</h1>
        
        <form method="post" action="#">
          <script>
            // Define the options array
            var autocompleteOptions = ['London', 'Manchester', 'Birmingham', 'Leeds', 'Liverpool'];
          </script>
          
          {% set id = "location" %}
          {% set name = "location" %}
          {% set label = "Enter your location" %}
          {% set hint = "Start typing to see suggestions" %}
          
          {% include '/includes/sites.html' %}
          
          <button class="nhsuk-button" type="submit">Continue</button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: '',
    selectElement: document.querySelector('#school-picker')
  })
</script>
{% endblock %}