<!-- File: app/views/test-page.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="main-content">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1>Autocomplete Test</h1>
        
        <form method="post" action="#">
          <script>
            // Define the options array
            var autocompleteOptions = ['London', 'Manchester', 'Birmingham', 'Leeds', 'Liverpool'];
          </script>
          
          {% set id = "location" %}
          {% set name = "location" %}
          {% set label = "Enter your location" %}
          {% set hint = "Start typing to see suggestions" %}
          
          {% include 'includes/_autocomplete.html' %}
          
          <button class="nhsuk-button" type="submit">Continue</button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}